h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    column-gap: 24px;
    row-gap: 48px;
}

.container.is-flex {
    display: flex;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;
    justify-content: space-between;
}

.ul-ul {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.ul-ul-section-four {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.li-portfolio {
    flex-basis: calc((100% - 48px) / 3);
}

.li-li {
    flex-basis: calc((100% - 72px) / 4);
}

.header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-nav {
    display: flex;
    align-items: center;
}

.ul-nav {
    display: flex;
    gap: 40px;
}

.link-logo-nav {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.link-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-studio{
    color: #2e2f42;
}

.logo-studio-footer {
    color: #f4f4fd;
}

.nav-link {
    color: #2e2f42;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.link-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.link-address:hover,
.link-address:focus {
    color: #404bbf;
}

.section-header-one {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url("../images/background-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-one {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: auto;
}

.button {
    cursor: pointer;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 48px auto;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.section-two-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-three-our-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team-window {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.employee {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.header-three {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.paragraph {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-four-our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px
}

